.steps {
  position: relative;
}

.steps__line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 0;
  margin-left: -1px;
  background-color: #eee;
}

.step {
  position: relative;
  max-width: 600px;
  margin: 0 auto 30px;
  background: #fff;
  padding: 30px 20px;
  border: 2px solid #eee;
  border-radius: 15px;
  text-align: center;
}
.step p {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .step {
    margin-top: 40px;
  }
  .step:first-child {
    margin-top: 0;
  }
}

.step__marker {
  display: block;
  font-size: 24px;
  text-align: center;
}
